.App {
  text-align: center;
}

.cat {
  padding: 2vh;
  margin: 3vh;
  background: #998575;
  border-radius: 5px;
}

.oneCatImage{
  width: 66%;
}

.onecat {
  padding: 2vh;
  margin: 3vh;
  background: #998575;
  border-radius: 5px;
  text-align: center;
  width: 50vw;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.nav-title {
  font-size: 10vh;
}

.nav-links {
  margin-left: auto;
  margin-right: auto;
}

.button { 
  background: #CC5F39;
}

.catList {

  display: flex;
  flex-direction:row;
  flex-shrink: 0;
  flex-flow: row wrap;
  justify-content: center;
}